parameters:
    level: 2
    paths:
        - ../src
        - ../tests
        - ../admin
    bootstrapFiles:
        - constants.php
    scanFiles:
        - ../vendor/nails/common/helpers/url.php
        - ../vendor/nails/common/src/Common/CodeIgniter/Core/Common.php
        - ../vendor/codeigniter/framework/system/helpers/form_helper.php